*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

#Particulares
*.xml
*.properties
*.mf
*.netbeans_automatic_build
*.netbeans_update_resources

/L2ER00500/nbproject/private/
/L2ER00500/build/
/L2ER00600/nbproject/private/
/L2ER00600/build/
/L2ER00700/nbproject/private/
/L2ER00700/build/
/L2ER00800/nbproject/private/
/L2ER00800/build/
/L2ER00900/nbproject/private/
/L2ER00900/build/
/L2ER01000/nbproject/private/
/L2ER01000/build/
/L2ER01100/nbproject/private/
/L2ER01100/build/
/L2ER01200/nbproject/private/
/L2ER01200/build/
/L2ER01300/nbproject/private/
/L2ER01300/build/